blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,input,lengend,li,ol,p,pre,td,textarea,th,ul {
  margin: 0;
  padding: 0
}
body,button,input,select,textarea,th {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: poppin,Tahoma,Arial,sans-serif;
}
html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  min-width: 1110px;
  height: 100%;
  overflow-y: scroll;
  font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
  line-height: 1.5;
  background-color: #fafafa;
}
li{
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-size: 100%;
}
button{
  cursor: pointer;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: #31c27c;
  text-decoration: none;
}
a:focus,button:focus,input:focus{
  outline: 0;
}
img{
  border: 0 none;
  image-rendering: optimizeQuality;
}

/* 更改设置导航条样式*/
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track{
  background: 0 0;
}
::-webkit-scrollbar-thumb{
  background-color: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #666;
}


/* 所有的图标 */
.head_title{
  display: block;
  margin: 0 auto;
  width: 196px;
  height: 40px;
  background-image: url("../images/Music_title.png");
}
.music_icon{
  background-image: url("../images/icon_sprite.png");
}
.play_icon{
  background-image: url("../images/icon_sprite@2x.png");
  margin-right: 6px;
  display: inline-block;
  background-repeat: no-repeat;
}
.ab_icon{
  position: absolute;
  height: 16px;
  width: 16px;
  left: 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  top: 10px;
}
/* 更改 element默认的走马灯左右按钮 */
.el-icon-arrow-right{
  position: absolute;
  width: 20px;
  height: 39px;
  margin-top: -20px;
  right: 29px;
  background: url("../images/icon_sprite.png") 0 -120px;
}
.el-icon-arrow-left{
  position: absolute;
  width: 20px;
  height: 39px;
  margin-top: -20px;
  right: 29px;
  background: url("../images/icon_sprite.png") -20px -120px;
}
.el-icon-arrow-right::before,.el-icon-arrow-left::before{
  content: '';
}
.el-carousel__arrow--right{
  right: 0;
  top: 50%;
  width: 79px;
  height: 108px;
  margin-top: -92px;
  background-color: rgba(0,0,0,.05);
  opacity: 1;
  transition-property: transform,opacity;
  transition-duration: .5s;
  z-index: 3;
  border-radius: 0;
  border: 0 none;
  transform: translate3d(100px,0,0);
}
.el-carousel__arrow--left{
  left: -20px;
  top: 50%;
  width: 79px;
  height: 108px;
  margin-top: -92px;
  background-color: rgba(0,0,0,.05);
  opacity: 1;
  transition-property: transform,opacity;
  transition-duration: .5s;
  z-index: 3;
  border-radius: 0;
  border: 0 none;
  transform: translate3d(-100px,0,0);
}
.el-carousel__arrow--right:hover,.el-carousel__arrow--left:hover{
  background: url(#);
  background: rgba(0,0,0,.1)
}
.hot_music_wrap:hover .el-carousel__arrow--right,.hot_music_wrap:hover .el-carousel__arrow--left{
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity,transform,background-color;
  transition-duration: .5s;
}
.index_inner{
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.p_btn{
  min-width: 112px;
  text-align: center;
  margin-right: 6px;
  line-height: 38px;
  border-radius: 2px;
  padding: 0 23px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  height: 38px;
  box-sizing: border-box;
}
.icon_size{
  height: 16px;
  margin-right: 6px;
  display: inline-block;
}
.song_menu_icon{
  background-image: url("../images/icon_list_menu.png");
  display: block;
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
}
.extent_body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.player_cover_mask{
  background-color: rgba(0,0,0,.35);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.player_icon{
  background-position: 0 0;
}
.pause_icon{
  background-position: -80px -200px;
}
.add_icon{
  background-position: 0 -80px;
}
.download_icon{
  background-position: 0 -120px;
}
.share_icon{
  background-position: 0 -40px;
}

/* 播放页的底层控制按钮 */
.control_icon{
  background: url("../images/player.png");
  position: absolute;
  opacity: .8;
}
.control_icon:hover{
  opacity: 1;
}


.main{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1240px) {
  .index_inner{
    margin: 0 50px;
    min-width: 900px;
  }
  .main{
    min-width: 900px;
    margin: 0 50px;
  }
}
