.play_logo{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}
.play_logo_img{
  opacity: .3;
  filter:alpha(opacity=30);
}
.play_logo_img:hover{
  opacity: 1;
  filter: none;
}
.play_login_wrap{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9;
  text-align: right;
  padding-right: 28px;
}
.des_text{
  float: left;
  margin-right: 26px;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
}
.download_client_btn{
  display: inline-block;
  margin-left: 6px;
  padding: 0 17px;
  font-size: 15px;
  text-align: center;
  line-height: 28px;
  background-color: #31c27c;
  color: #fff;
  border-radius: 28px;
  height: 28px;
}
.download_client_btn:hover{
  color: #fff;
  background-color: #2caf6f;
}
.play_set_btn{
  position: relative;
  float: left;
  margin-right: 15px;
  font-size: 0;
}
.play_set_btn:hover .play_set_text{
  opacity: 1;
}
.play_set_text{
  display: inline-block;
  max-width: 124px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  font-size: 14px;
  opacity: .3;
  color: #fff;
  line-height: 30px;
}

/* 主体内容 */

.mod_player{
  margin: 0 7%;
  color: rgba(225,225,225,.8);
  height: 100%;
  position: relative;
  z-index: 3;
}
.mod_player a{
  color: rgba(225,225,225,.8);
}
.mod_player a:hover{
  color: #fff;
}
.mod_player_body{
  position: absolute;
  top: 11%;
  bottom: 18%;
  width: 100%;
  min-height: 328px;
  cursor: default;
}
.mod_default_body{
  margin-right: 440px;
}
.mod_player_toolbar{
  margin-left: 1px;
  position: relative;
  margin-bottom: 20px;
  /* 防止元素间不必要的间距 否则实际宽度莫名其妙增长 */
  font-size: 0;
}
.mod_toolbar_btn{
  border: 1px solid #c9c9c9;
  font-size: 14px;
  opacity: .8;
  border-color: rgba(255,255,255,.2);
  text-align: center;
  color: #fff;
  background-color: transparent;
  min-width: 122px;
}
.mod_toolbar_btn i{
  opacity: .6;
}
.operate_icon{
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}
.play_like_icon{
  background-position: -60px -20px;
  vertical-align: -4px;
}
.play_add_icon{
  background-position: -20px -20px;
}
.play_download_icon{
  background-position: -40px -240px;
}
.play_delete_icon{
  background-position: -100px -20px;
}
.play_clear_icon{
  height: 17px;
  width: 17px;
  background-position: -40px -300px;
}
.mod_toolbar_btn:hover{
  opacity: 1;
  filter: none;
  border-color: rgba(255,255,255,1);
  color: #fff;
}
.mod_toolbar_btn:hover i{
  opacity: 1;
}
.mod_default_view{
  height: 482px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 0;
}
.mod_songlist{
  margin-right: 0;
}
i.play_line{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: .02;
}
.mod_songlist_header{
  padding-left: 62px;
  padding-right: 95px;
  height: 50px;
  position: relative;
  line-height: 50px;
  background-color: transparent;
  color: inherit;
}
.song_name{
  float: left;
  width: 68%;
  position: relative;
  white-space: normal;
}
.song_singer{
  width: 26%;
  float: left;
  padding-left: 15px;
}
.song_time{
  position: absolute;
  top: 0;
  width: 50px;
  right: 38px;
}

/* 列表区域 */
.mod_songlist_item{
  padding-left: 62px;
  padding-right: 95px;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
.mod_songlist_index,
.mod_songlist_songname,
.mod_songlist_singername,
.mod_songlist_time{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mod_songlist_index{
  position: absolute;
  top: 0;
  left: 16px;
  text-align: right;
  color: inherit;
  width: 36px;
}
.mod_songlist_songname{
  width: 68%;
  float: left;
  position: relative;
  white-space: normal;
}
.mod_songlist_singername{
  float: left;
  width: 26%;
  color: inherit;
  padding-left: 15px;
  box-sizing: border-box;
}
.mod_songlist_time{
  position: absolute;
  top: 0;
  right: 38px;
  width: 50px;
}
.mod_list_menu{
  opacity: 0;
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: 0;
  height: 36px;
  overflow: hidden;
  pointer-events: none;
}
.mod_songlist_item:hover .mod_list_menu{
  opacity: 1;
  pointer-events: inherit;
  right: 10px;
  margin-top: -18px;
}
.mod_list_menu a{
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.mod_list_menu a:hover .player_icon{
  background-position: -120px 0;
}
.mod_list_menu a:hover .add_icon{
  background-position: -120px -80px;
}
.mod_list_menu a:hover .download_icon{
  background-position: -120px -120px;
}
.mod_list_menu a:hover .share_icon{
  background-position: -120px -40px;
}
.sec{
  position: absolute;
  left: 0;
  bottom: 0;
}
.mod_default_songinfo{
  position: absolute;
  top: 0;
  right: 0;
  width: 340px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.playing_song_img{
  position: relative;
  display: block;
  width: 186px;
  height: 186px;
  margin: auto;
}
.playing_song_img:after{
  content: '';
  position: absolute;
  left: 9px;
  top: 0;
  width: 201px;
  height: 180px;
  background: url("../images/album_cover_player.png") 0 0 no-repeat;
}
.playing_song_img img{
  width: 186px;
  height: 186px;
  vertical-align: middle;
}
.playing_songname,.playing_singer,.playing_album{
  white-space: normal;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 28px;
}
.playing_songname{
  margin-top: 15px;
}






.mod_player_footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11%;
}



/* 自适应 */
@media (max-width: 1300px) {
  .mod_player{
    margin: 0 6%;
  }
  .mod_default_body{
    margin-right: 320px;
  }
  .mod_default_songinfo{
    width: 300px;
  }
}
@media (max-width: 1240px) {
  .mod_list_menu a{
    margin-right: 5px;
  }
}
