.singer_main{
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.singer_info{
  position: relative;
  height: 250px;
  padding-left: 305px;
  margin-top: 40px;
  margin-bottom: 35px;
}
.singer_img_wrap{
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 250px;
}
.singer_big_img{
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.singer_introduce{
  padding-top: 31px;
}
.singer_intro_name{
  overflow: hidden;
  line-height: 50px;
  height: 50px;
}
.singer_intro_h{
  float: left;
  font-size: 38px;
  font-weight: 400;
  white-space: nowrap;
  margin-right: 10px;
  line-height: 50px;
}
.singer_intro_main{
  margin-bottom: 4px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
.singer_intro_main_des_text{
  float: left;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 2px;
  white-space: nowrap;
}
.singer_static_list{
  height: 23px;
  line-height: 23px;
  overflow: hidden;
}
.singer_static_list_item{
  margin-right: 20px;
  padding-right: 20px;
  border-right: 0 none;
  display: inline-block;
  text-align: center;
  font-size: 18px;
}
.singer_static_data_nums{
  font-size: 25px;
  font-weight: 400;
  margin-left: 10px;
}
.singer_static_toolbar{
  position: absolute;
  bottom: 30px;
}
.green_btn{
  border: 1px solid #31c27c;
  background-color: #31c27c;
  color: #fff;
}
.green_btn:hover{
  background-color: #2caf6f;
  border-color: #2caf6f;
  color: #fff;
}
.green_btn:active{
  background-color: #279c63;
  border-color: #279c63;
}
.white_btn{
  border: 1px solid #c9c9c9;
  color: #000;
}
.green_btn_icon{
  width: 13px;
  background-position: -80px -220px;
  vertical-align: -3px;
}
.follow_icon{
  width: 16px;
  background-position: -20px -180px;
  vertical-align: -4px;
}
.unfollow_icon{
  width: 14px;
  height: 14px;
  background-position: -40px -80px;
  vertical-align: -2px;
}
.white_btn:hover{
  background-color: #ededed;
  color: #333;
}
.singer_list_part{
  margin-bottom: 30px;
  position: relative;
}
.singer_part_head{
  overflow: hidden;
  height: 60px;
}
.singer_part_title{
  float: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 58px;
}
.song_list_head{
  height:50px;
  line-height: 50px;
  background-color: #fbfbfb;
  color: #999;
  padding-left: 46px;
  padding-right: 100px;
  position: relative;
}
.song_list_head_name{
  float: left;
  width: 47.685185%;
  white-space: normal;
}
.song_list_head_album{
  float: left;
  width: 25.5%;
  padding-left: 20px;
}
.song_list_head_time{
  position: absolute;
  top: 0;
  right: 38px;
  width: 50px;
}
.song_list_content{
  overflow: hidden;
  clear: both;
}
.song_list_item{
  overflow: hidden;
  position: relative;
  padding: 0 95px 0 46px;
}
.song_list_col{
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.song_list_item_index{
  position: absolute;
  top: 0;
  left: 10px;
  color: #999;
  width: 36px;
}
.song_list_songname{
  float: left;
  width: 48%;
  position: relative;
  white-space: normal;
}
.song_list_albumname{
  float: left;
  padding-left: 15px;
  width: 26%;
  box-sizing: border-box;
}
.song_list_albumname a{
  color: rgb(153,153,153);
}
.song_list_songtime{
  color: #999;
  position: absolute;
  top: 0;
  right: 38px;
  width: 50px;
}
.tool_nav_menu{
  position: absolute;
  right: -2px;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  height: 36px;
}
.song_list_item:hover .tool_nav_menu{
  opacity: 1;
  pointer-events: inherit;
  margin-top: -18px;
}
.tool_menu_item{
  margin-right: 5px;
  display: inline-block;
  width: 36px;
  vertical-align: top;
}
.dujia_icon{
  display: inline-block;
  width: 34px;
  height: 16px;
  background-position: -80px -280px;
  vertical-align: middle;
  margin-right: 6px;
}
.song_list_songname_text{
  /* 会继承来自父元素 设置的line-height*/
  float: left;
  max-width: 72%;
  margin-right: 8px;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tool_menu_item:hover .player_icon{
  background-position: -40px 0;
}
.tool_menu_item:hover .add_icon{
  background-position: -40px -80px;
}
.tool_menu_item:hover .download_icon{
  background-position: -40px -120px;
}
.tool_menu_item:hover .share_icon{
  background-position: -40px -40px;
}




/* 自适应 */
@media (max-width: 1240px) {
  .singer_main{
    min-width: 900px;
    margin: 0 50px;
  }
  .tool_menu_item{
    margin-right: 2px;
  }
}
